@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/manojvmanduva/Documents/GitHub/pictory/fonts/Noto Sans TC/regular.ttf') format('truetype');
}
